<div class="displayBox">
    <h3>Candidates</h3>
    <ul>
        <li [class.selected]="crew.indexOf(member) >= 0" (click)="addCrewMember(member)"
            *ngFor="let member of candidates">{{member.name}}</li>
    </ul>
</div>
<hr>
<div class="displayBox">
    <!-- Add a span tag here to display 'Full' when the crew reaches 3. -->
    <h3>Crew <span *ngIf="crew.length === 3">Full</span></h3>
    <ol>
        <li (mouseover)="memeber= astronaut; inCrew = !inCrew;" (mouseout)="inCrew = !inCrew" *ngFor="let astronaut of crew">
            {{astronaut.name}}
        </li>
    </ol>
    <!-- Add an img tag here to display astronaut photos. -->
    <img *ngIf ="inCrew" [src]="memeber.photo" alt="Crew photo">
    <p *ngIf ="inCrew" class="center">{{memeber.profession}}</p>

</div>